<h1>Edit Page</h1>


<form action="/movies/<%= @film.id %>" method="put">
  <input type="text" name="title" value="<%= @film.title %>"> <br/>
  <input type="text" name="year" value="<%= @film.year %>"> <br/>
  <input type="text" name="plot" value="<%= @film.plot %>"> <br/>
  <input type="text" name="mpaa_rating" value="<%= @film.mpaa_rating %>"> <br/>
  <input type="number" name="user_rating" value="<%= @film.user_rating %>"> <br/>
  <button>Submit</button>
</form>

<br/>

<a href="/movies">Back to Movies</a>